body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e3e8ee;
    font-size: 16px;
    color: #999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

input {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 80px 0;
}

.checkox-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    box-shadow: -12px 15px 17px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    max-width: 500px;
}

.form-header {
    background-color: #a5b4b9;
    padding: 10px 20px;
    color: #fff;
    border-radius: 6px 6px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 200ms ease all;
}

.form-body {
    background-color: #fff;
    padding: 20px;
    transition: 200ms ease all;
}

.form-field {
    margin-bottom: 15px;
    position: relative;
}

.input-field {
    line-height: 50px;
    padding: 0 20px 0 12px;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #e3e8ee;
    background-color: #fff;
    transition: 300ms ease all;
    outline: 0;
    position: relative;
}

.input-field:focus {
    border-color: #a5b4b9;
}

.form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-button {
    text-align: center;
    background-color: #bad5dc;
    color: #fff;
    border: 0;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 20px;
    cursor: pointer;
    transition: 300ms ease all;
}

.form-button:hover {
    background-color: #a5b4b9;
}

.form-link {
    text-decoration: none;
    color: #a5b4b9;
}

.form-link:hover {
    color: #000;
    transition: 300ms ease;
}

.form-close {
    color: #fff;
    transition: 300ms ease all;
    opacity: 0.6;
}

.form-close:hover {
    color: #fff;
    opacity: 1;
    transform: rotate(90deg);
}

.form-icon {
    position: absolute;
    top: calc(50% - 8px);
    right: 20px;
}

.form-registration {
    margin: 0;
    display: flex;
    min-width: 900px;
    max-width: 900px;
}

.form-registration .form-body {
    padding: 20px 20px 40px;
}

.form label {
    display: block;
    font-size: 12px;
    margin: 0 0 10px 10px;
}

input::placeholder {
    font-size: 12px;
}

.column {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.column-first{
    transition: 200ms ease all;
}

.form-logo {
    width: 100%;
}

.form-registration .form-header {
    border-radius: 0;
    display: block;
    text-align: center;
}

.switcher-checkbox {
    display: none;
}

.switcher-checkbox+.switcher {
    display: block;
    width: 90px;
    height: 50px;
    background-color: #bad5dc;
    border-radius: 50px;
    position: relative;
    transition: 400ms ease;
}

.switcher-checkbox+.switcher>.switcher-span {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #a5b4b9;
    border-radius: 50px;
    top: 0;
    left: 0;
    transition: 400ms ease;
}

.switcher-checkbox:checked+.switcher {
    background-color: #717477;
}

.switcher-checkbox:checked+.switcher>.switcher-span {
    background-color: #333333;
    left: 40px;
}

.form-dark .form-header {
    background: #333333;
}

.form-dark .form-body {
    background-color: rgba(0, 0, 0, 0.5);
}

.form-dark .form-button {
    background: #717477;
    border: 1px solid #fff;
}

.form-dark .form-button:hover {
    background: #000000;
    border-color: transparent;
}

.form-dark .form-link {
    color: #ffffff;
    opacity: 0.4;
}

.form-dark .form-link:hover {
    opacity: 1;
}
.form-dark label{
    color: #fff;
}
.form-dark .column-first{
    background-color: #999ca0;
}